.button {
    background-color: white;
    border: 2px solid;
    border-radius: 12px;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    min-height: 20px;
    padding: 16px 24px;
    text-align: center;
    font-size:calc(10px + 0.5vw);
}
.button-selected {
    color: #fff;
    cursor: pointer;
    background-color: rgb(220, 85, 85);
    display: inline-block;
    line-height: normal;
    min-height: 20px;
    padding: 16px 24px;
    text-align: center;
    font-size:calc(10 px + 0.5vw);
    border: 2px solid;
    border-radius: 15px;
}